.contenedor{
    display: flex;
    justify-content: space-between;
}
  
.grafico1{
    width: 700px;
    padding: 70px;
    border: solid 2px #000000;
    margin: 50px;
}

.grafico2{
    width: 700px;
    padding: 70px;
    border: solid 2px #000000;
    margin: 50px;
}

.grafico3{  
    width: 700px;
    padding: 70px;
    border: solid 2px #000000;
    margin: 50px;
}

.grafico4 {
    width: 700px;
    padding: 70px;
    border: solid 2px #000000;
    margin: 50px;
}